img{
width:100%;
}
.cover-home{
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cover-middle-about{
    height: 70vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cover-single-project{
    height: 75vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cover-left{
    margin-top:5px;
    height: 65vh;
    width:100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-right:5px;
    
}
.cover-right{
    margin-top:5px;
    height: 65vh;
    width:100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cover-bottom{
    margin-top:5px;
    height: 90vh;
    width:100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin:0 !important;
}
.nav-container{
    position:fixed;
    right:0;
    margin-top:30px; 
    margin-right:15px;  
    z-index:1030;
}
.brand-container{
    position:fixed;
    left:0;
    margin-top:5px;
    margin-left:15px;
    z-index:1030;
    transition: all .5s ease;
}
.brand-container-hero{
  padding:3em;
}

.brand-container-hero {
  color:#fff;
  font-size:16px;
  font-family: 'Roboto Mono', monospace;
}


a.brand-container-expanded{
    color:#000 !important
  
}
.brand-container a{
    color:#fff;
    font-size:16px;
    font-family: 'Roboto Mono', monospace;
}
.brand-container a:hover{
    color:#fff;
    font-size:16px;
    font-family: 'Roboto Mono', monospace;
    text-decoration: line-through;
}
.nav-container ul li a{
    font-family: 'Roboto Mono', monospace;
    color:#fff;
    font-size:14px;
   
}
.nav-container ul li a:hover{
   
font-weight: 900;


}
a.nav-link.active {
    text-decoration: underline;
   
}

.brand-line-1{
    margin-left:60px;
}
.brand-line-3{
    margin-left:160px;
}
.logo-hero{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
img.logo-hero-img{
  max-width:200px;
}
.juni-logo-nav{
padding:0;
margin-left:5px;
}
.juni-logo-nav img{
    width:150px;
    height:50px;
}
.navbar{
    padding:.5em .5em !important;
}
.menu-right{
    bottom: 0;
    position: absolute;
    right: 5px;
}
.mobile-menu-right{
    bottom: 0;
    position: absolute;
    right: 15px;
}
.menu-right ul li a{
    color:#000;
    font-size:14px;
    font-family: 'Roboto Mono', monospace;
   
}
.menu-right ul li a:hover{
    font-weight: 900;
    
}
.juni-menu-container{
    padding:0 !important;
}
.toggle-menu{
    padding:.5rem 1rem;
    font-family: 'Roboto Mono', monospace;
}
.toggle-menu-home{
    padding:.5rem 1rem;
    font-family: 'Roboto Mono', monospace;
}
.toggle-menu-home a{
   color:white;
   z-index:1030;
}
.toggle-menu a{
    color:#000;
}
a.menu-expanded{
    color:#000;
}
.toggle-menu a:hover{
    color:#000;
    font-weight:900;
    text-decoration: none;
}
.juni-menu-content{
  
}
div#juni-menu-container{
    position: fixed;
    width: 100vw;
    z-index: 1020;
    background:#ffffffe3;
}
.menu-body{
    height:100vh;
    margin-top:100px;
}
.juni-content-list {
    margin: 0 auto;
}
.juni-content-list ul li a{
    color:#000;
    font-size:16px;
    font-family: 'Roboto Mono', monospace;
}
.container-about-module{
   padding:1em;
}

.juni-color-grey{
background-color:#e6e6e6;
}
.no-padding{
    padding: 0 !important;
}
.about-module-component{
    padding: 5em 1em;
}
.about-headline{
    float: right;
 
}
.about-headline img{
    width:160px;
   
}
.about-text{
    color:#000;
    font-size:12px;
    font-family: 'Roboto Mono', monospace;
    margin-top:60px;
    
    width: 85%;
}
.contact-text{
    color:#000;
    font-size:12px;
    font-family: 'Roboto Mono', monospace;
    padding-top:60px;
    width: 100%;
   padding:2em;
}
p.header-contact{
    margin-top:15px;
    text-decoration: underline;
}
.about-text-big{
    color:#000;
    font-size:14px;
    font-family: 'Roboto Mono', monospace;
    padding: 3em;
    width: 100%;
}
.center-element{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:75%;
}
.footer-juni{
    background: rgb(237, 107, 84);
   
}
.footer-logo{
    padding:0;
   
}
   
.footer-logo img{
    width:120px;
}
.footer-brand-container{
    padding:0;
    margin-bottom:30px;
}
.footer-brand-container a{
    color:#000;
    font-family: 'Roboto Mono', monospace;
}
.footer-social-links{
    margin-top:15%;
    margin-bottom:15%;
    text-align:center;
}
.footer-social-links a{
    color:#000;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    margin-right:15px;
}
.footer-info{
    padding:2rem;
}
@media (min-width: 576px) {
    .about-headline img{
        width:360px;
    }
    .container-about-module{
        padding:1em;
     }
  
    img.logo-hero-img{
      max-width:500px;
    }
    .about-module-component{
        padding: 5em 10em;
    }
    .about-text-big{
        padding: 5em;
    }
    .contact-text{
        color:#000;
        font-size:12px;
        font-family: 'Roboto Mono', monospace;
        padding-top:60px;
        width: 100%;
       padding:5em;
    }
    .footer-social-links{
        margin-top:15%;
        text-align:left;
        margin-bottom:0;
    }
  
 }

 @media (min-width: 992px){
     .arrows{
         text-align:right !important;
         padding:0 !important;
     }
     .background-container{
         display:flex !important;
     }
     .cover-left{
         width:65% !important;
     }
     .cover-right{
         width:35% !important;
     }
 }

.juni-masonry{
    -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  margin-left:15px !important;
  margin-right:15px !important;
}

.project-item-4{
    position: relative;
    display: inline-block;
   margin-bottom:5px;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    margin: 3px;  
}
.project-title-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    width: 100%;
    height: 100%;
    background-color:#ffffffd4;
    
  }
  .project-title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    font-size:16px;
    font-family: 'Roboto Mono', monospace;
    color:#000;
 
  }
  p.title-one {
    float: left;
    margin-right: 30px;
}
  p.title-two {
    float: right;
    margin-top: 60px;
    margin-left: 30px;
}
.project-item-4:hover{
   
    cursor: crosshair;
}
.project-item-4:hover .project-title-hover{
    opacity: 1;
   
}
.project-item-4:hover .project-title-text{
    opacity: 0;
   
}

@media only screen and (max-width: 320px) {
    .juni-masonry{
        -webkit-column-count:1;
      -moz-column-count:1;
      column-count: 1;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
      margin-left:0 !important;
      margin-right:0 !important;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .juni-masonry{
        -webkit-column-count:1;
      -moz-column-count:1;
      column-count: 1;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
      margin-left:0 !important;
      margin-right:0 !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .juni-masonry{
        -webkit-column-count:2;
      -moz-column-count:2;
      column-count: 2;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
      margin-left:0 !important;
      margin-right:0 !important;
    }
}
@media only screen and (min-width: 1201px) {
    .juni-masonry{
        -webkit-column-count:3;
      -moz-column-count:3;
      column-count: 3;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
      margin-left:15px !important;
      margin-right:15px !important;
    }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
 
  .project-page{
    margin-left:15px;
    margin-right:15px;
  }
  .project-info-container{
      margin-top:15px;
      margin-bottom:10px;
      padding-left:0 !important;
  }
  p.description-project{
      margin: 0;
      font-size:14px;
      font-family: 'Roboto Mono', monospace;
  }
  .arrows img{
      width:80px;
      margin-left:15px;
      -webkit-transition: .5s ease all;
      transition: .5s ease all;
  }
  .arrows img:hover{
    opacity:0.6;
}
  .arrow-back img{
    width:100px;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .arrow-back img:hover{
    margin-left:-15px;
  }
  .arrows{
      text-align:center;
      padding:3em ;
      
  }
  .background-container{
      width:100%;
      display: block;

  }
  
  .fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  div#juni-load{
      position: fixed;
      width:100vw;
      height:100vh;
      z-index:1060;
      background: #ffffff82;
      top:0;
      left:0;
      -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: slide-in-bottom 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  .slide-in-top {
	-webkit-animation: slide-in-top 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
	        animation: slide-in-top 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  .slide-in-left {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	        animation: slide-in-left 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-in-right {
	-webkit-animation: slide-in-right 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
	        animation: slide-in-right 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  .animatable{
      visibility: hidden;
  }
