img{
width:100%;
}
.cover-home{
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cover-middle-about{
    height: 70vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin:0 !important;
}
.nav-container{
    position:fixed;
    right:0;
    margin-top:30px; 
    margin-right:15px;  
    z-index:1030;
}
.brand-container{
    position:fixed;
    left:0;
    margin-top:5px;
    margin-left:15px;
    z-index:1030;
    transition: all .5s ease;
}
a.brand-container-expanded{
    color:#000 !important
  
}
.brand-container a{
    color:#fff;
    font-size:16px;
    font-family: 'Roboto Mono', monospace;
}
.nav-container ul li a{
    font-family: 'Roboto Mono', monospace;
    color:#fff;
    font-size:14px;
}
.nav-container ul li a:hover{
   
    text-decoration: line-through;
}
a.nav-link.active {
    text-decoration: line-through;
}
.brand-line-1{
    margin-left:60px;
}
.brand-line-3{
    margin-left:160px;
}
.logo-hero{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.logo-hero img{
    max-width:200px;
}
.juni-logo-nav{
padding:0;
}
.juni-logo-nav img{
    width:150px;
    height:50px;
}
.navbar{
    padding:.5em .5em !important;
}
.menu-right{
    bottom: 0;
    position: absolute;
    right: 15px;
}
.mobile-menu-right{
    bottom: 0;
    position: absolute;
    right: 15px;
}
.menu-right ul li a{
    color:#000;
    font-size:14px;
    font-family: 'Roboto Mono', monospace;
}
.menu-right ul li a:hover{
    text-decoration: line-through;
}
.juni-menu-container{
    padding:0 !important;
}
.toggle-menu{
    padding:.5rem 1rem;
    font-family: 'Roboto Mono', monospace;
}
.toggle-menu-home{
    padding:.5rem 1rem;
    font-family: 'Roboto Mono', monospace;
}
.toggle-menu-home a{
   color:white;
   z-index:1030;
}
.toggle-menu a{
    color:#000;
}
a.menu-expanded{
    color:#000;
}
.toggle-menu a:hover{
    color:#000;
    text-decoration: line-through;
}
.juni-menu-content{
  
}
div#juni-menu-container{
    position: fixed;
    width: 100vw;
    z-index: 1020;
    background:#ffffffcf;
}
.menu-body{
    height:100vh;
    margin-top:100px;
}
.juni-content-list {
    margin: 0 auto;
}
.juni-content-list ul li a{
    color:#000;
    font-size:16px;
    font-family: 'Roboto Mono', monospace;
}
.container-about-module{
   padding:1em;
}

.juni-color-grey{
background-color:#e6e6e6;
}
.no-padding{
    padding: 0 !important;
}
.about-module-component{
    padding: 5em 1em;
}
.about-headline{
    float: right;
 
}
.about-headline img{
    width:160px;
   
}
.about-text{
    color:#000;
    font-size:12px;
    font-family: 'Roboto Mono', monospace;
    padding-top:60px;
    width: 85%;
}
.contact-text{
    color:#000;
    font-size:12px;
    font-family: 'Roboto Mono', monospace;
    padding-top:60px;
    width: 85%;
}
p.header-contact{
    margin-top:15px;
    text-decoration: underline;
}
.about-text-big{
    color:#000;
    font-size:16px;
    font-family: 'Roboto Mono', monospace;
   
    width: 100%;
}
.center-element{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:75%;
}
.footer-juni{
    background: rgb(237, 107, 84);
   
}
.footer-logo img{
    width:150px;
}
.footer-brand-container{
    padding:2em;
}
.footer-brand-container a{
    color:#000;
    font-family: 'Roboto Mono', monospace;
}
.footer-social-links{
    margin-top:15%;
}
.footer-social-links a{
    color:#000;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    margin-right:15px;
}
.footer-info{
    padding:2rem;
}
@media (min-width: 576px) {
    .about-headline img{
        width:360px;
    }
    .container-about-module{
        padding:8em;
     }
     .logo-hero img{
        max-width:400px;
    }
 }

.juni-masonry{
    -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  margin-left:15px;
  margin-right:15px;
}
.project-item-4{
    display: inline-block;
    margin:3px;
    -webkit-transition:1s ease all;
    
  
}
.project-item-4:hover{
    opacity: 0.4;
    cursor: crosshair;
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}




